#image {
  column-count: 2;
}

.card {
  width: 25rem;
  box-shadow: 0 0 30px black;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.center {
  text-align: center;
}

.col-lg-2 {
  margin-top: 20px;
}

.card-title {
  font-style: normal;
  ;
  font-weight: bold;
  font-size: 100%;
}
